section{
display: grid;
    grid-template-columns: repeat(3, 1fr);

}

article{
    border: solid 1px black;
}
@media(max-width: 768px) {

section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    orientation: landscape;    
}


}
@media(max-width: 490px) {

    section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    
    }